.hanoi-title
{
    color: #28990f;
    text-align: center;
    margin: 12px;
}

.directions
{
    color: white;
    text-align: center;
    margin: 20px;
}
.text-title
{
    font-weight: bold;
    color: #61dbfb;
}
.warning
{
    color: #f87676;
}
.hanoi-content
{
    border: 2px solid #f87676;
    display: inline-flex;
    font-family: sans-serif;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}
.col-cont
{
    align-items: flex-end;
    border: 2px solid #39bdf9;
    height: 80vh;
    position: relative;
    width: 30%;
}
.tower-rod
{
    background-color: #28980f;
    width: 4%;
    height: 100%;
    border: 1px solid #ffffff;
    position: absolute;
    left: 48%;
    z-index: -1;
}
.tower-tile
{
    background-color: #39bcf7;
    border: 1px solid black;
    border-radius: 3px;
    height: 40px;
    margin: auto;
    z-index: 10;
}
.winnerMessage
{
    background-color: #28990f;
    border-radius: 10px;
    color: whitesmoke;
    font-size: 25px;
    font-weight: 700;
    left: 50%;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px #000;
    top: 40%;
    transform: translate(-50%, 200%);
    width: 40%;
    z-index: 20;
}

.winnerSubtitle {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}

.winnerNumber
{
    color: #f87676;
}
.numberOfMoves
{
    font-size: 25px;
}



