
.hanoi-title
{
    color: #28990f;
    text-align: center;
    margin: 12px;
}

.directions
{
    color: white;
    text-align: center;

    margin: 20px;
}
.text-title
{
    font-weight: bold;
    color: #61dbfb;
}
.warning
{
    color: #f87676;
}
.hanoi-content
{
    border: 2px solid #f6f6f6;
    display: inline-flex;
    font-family: sans-serif;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}
.col-cont
{
    align-items: flex-end;
    border: 1px solid #28980f;
    height: 80vh;
    position: relative;
    width: 30%;
}


